<app-header [currentTab]="Tab.Qr"></app-header>
<ion-content
  class="qr-code-content"
  [class.landscape]="!utilsService.isPortrait"
>
  <ion-card class="qr-code">
    <ion-card-header>
      <ion-card-title class="ion-text-center"
        >{{'CREATE_QR_CODE' | translate}}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked"
          >{{ 'QR_CODE_TEXT' | translate }}</ion-label
        >
        <ion-textarea
          [autoGrow]="true"
          [counter]="true"
          #qrDataInput
          placeholder="{{'INPUT_FIELD_PLACEHOLDER' | translate}}"
          [rows]="nbrOfInitialRows"
          maxlength="{{maxInputLength}}"
          (ionInput)="onTextareaInput()"
          (ionBlur)="onQrDataInputBlur()"
        ></ion-textarea>
      </ion-item>

      <ion-item *ngIf="qrService.isQrCodeGenerated">
        <div class="center-horizontal">
          <qrcode
            id="qrcode"
            [qrdata]="qrService.myAngularxQrCode"
            [width]="256"
            [errorCorrectionLevel]="'M'"
            (qrCodeURL)="onChangeURL($event)"
            [allowEmptyString]="true"
          ></qrcode>
        </div>
      </ion-item>
    </ion-card-content>

    <div class="ion-text-center">
      <ion-spinner color="primary" *ngIf="showSpinner"></ion-spinner>
    </div>

    <div class="qr-code-buttons">
      <div class="next-step ion-text-center">
        {{ workflowStep | translate }}
      </div>
      <div
        class="button-wrapper"
        (click)="handleGenerateButtonClick()"
        (keydown.enter)="handleGenerateButtonClick()"
        (keydown.space)="handleGenerateButtonClick()"
      >
        <ion-button
          expand="block"
          [class.landscape]="!utilsService.isPortrait"
          [class.pseudo-disabled]="isGenerationButtonDisabled"
          [disabled]="false"
          (click)="handleGenerateButtonClick(); $event.stopPropagation()"
        >
          {{ 'GENERATE' | translate }}
        </ion-button>
      </div>

      <div
        class="no-generation-buttons ion-justify-content-around"
        [class.small-screen-hidden]="utilsService.isSmallDevice && !qrService.isQrCodeGenerated"
      >
        <div
          class="button-wrapper"
          (click)="handleSendEmailButtonClick()"
          (keydown.enter)="handleSendEmailButtonClick()"
          (keydown.space)="handleSendEmailButtonClick()"
        >
          <ion-button
            [class.landscape]="!utilsService.isPortrait"
            fill="clear"
            [class.pseudo-disabled]="qrService.qrCodeDownloadLink === '' || hasInputChangedAfterGeneration()"
            [disabled]="false"
            >{{ 'MAIL_QR_CODE' | translate}}</ion-button
          >
        </div>
        <ion-button
          [class.landscape]="!utilsService.isPortrait"
          fill="clear"
          (click)="clearInputField()"
          (keydown.enter)="clearInputField()"
          (keydown.space)="clearInputField()"
          [disabled]="isInputFieldEmpty()"
          >{{ 'CLEAR_INPUT' | translate}}</ion-button
        >
      </div>
    </div>
  </ion-card>
</ion-content>
