<ion-header [class.web-app]="!isNative">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <div
        class="button-wrapper"
        (click)="handleToggleShowAddressButtonClick()"
        (keydown.enter)="handleToggleShowAddressButtonClick()"
        (keydown.space)="handleToggleShowAddressButtonClick()"
      >
        <ion-button
          class="button-color"
          fill="clear"
          (keydown.enter)="toggleShowAddress()"
          (keydown.space)="toggleShowAddress()"
          [class.pseudo-disabled]="!isInputFieldEmpty()"
          [disabled]="false"
        >
          {{!showAddress ? ('EMAIL_ADDRESS_BUTTON' | translate) : "QR Code"}}
        </ion-button>
      </div>
    </ion-buttons>
    <ion-title
      ><b
        >{{ screenWidth < 600 ? 'QR Code' : 'z-control QR Code Generator' }}</b
      ></ion-title
    >
    <ion-buttons slot="end">
      <ion-button
        class="icon-color"
        fill="clear"
        (click)="openHelpModal()"
        (keydown.enter)="openHelpModal()"
        (keydown.space)="openHelpModal()"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
      <ion-button
        class="icon-color"
        fill="clear"
        (click)="openLanguagePopover($event)"
        (keydown.enter)="openLanguagePopover($event)"
        (keydown.space)="openLanguagePopover($event)"
      >
        <ion-icon slot="icon-only" name="language"></ion-icon>
        {{this.localStorage.selectedLanguage$ | async}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngIf="!showAddress"
    class="qr-code"
    [class.landscape]="!isPortrait"
  >
    <ion-card-header>
      <ion-card-title class="ion-text-center"
        >{{'CREATE_QR_CODE' | translate}}</ion-card-title
      >
    </ion-card-header>

    <!-- +++++++++++++++++++++++++ -->
    <!-- QR CODE MAINTENANCE -->
    <!-- +++++++++++++++++++++++++ -->
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked"
          >{{ 'QR_CODE_TEXT' | translate }}</ion-label
        >
        <ion-textarea
          [autoGrow]="true"
          [counter]="true"
          #qrDataInput
          placeholder="{{'INPUT_FIELD_PLACEHOLDER' | translate}}"
          [rows]="nbrOfInitialRows"
          maxlength="{{maxInputLength}}"
          (ionInput)="onTextareaInput()"
        ></ion-textarea>
      </ion-item>

      <ion-item *ngIf="qrService.isQrCodeGenerated">
        <div class="center-horizontal">
          <qrcode
            id="qrcode"
            [qrdata]="qrService.myAngularxQrCode"
            [width]="256"
            [errorCorrectionLevel]="'M'"
            (qrCodeURL)="onChangeURL($event)"
            [allowEmptyString]="true"
          ></qrcode>
        </div>
      </ion-item>
    </ion-card-content>

    <div class="ion-text-center">
      <ion-spinner color="primary" *ngIf="showSpinner"></ion-spinner>
    </div>

    <div class="qr-code-buttons">
      <div class="next-step ion-text-center">
        {{ workflowStep | translate }}
      </div>
      <div
        class="button-wrapper"
        (click)="handleGenerateButtonClick()"
        (keydown.enter)="handleGenerateButtonClick()"
        (keydown.space)="handleGenerateButtonClick()"
      >
        <ion-button
          expand="block"
          [class.landscape]="!isPortrait"
          [class.pseudo-disabled]="isGenerationButtonDisabled"
          [disabled]="false"
          (click)="handleGenerateButtonClick(); $event.stopPropagation()"
        >
          {{ 'GENERATE' | translate }}
        </ion-button>
      </div>

      <div
        class="no-generation-buttons ion-justify-content-around"
        [class.small-screen-hidden]="isSmallScreen && !qrService.isQrCodeGenerated"
      >
        <div
          class="button-wrapper"
          (click)="handleSendEmailButtonClick()"
          (keydown.enter)="handleSendEmailButtonClick()"
          (keydown.space)="handleSendEmailButtonClick()"
        >
          <ion-button
            [class.landscape]="!isPortrait"
            fill="clear"
            (keydown.enter)="storeMailAndDeleteQRCode()"
            (keydown.space)="storeMailAndDeleteQRCode()"
            [class.pseudo-disabled]="qrService.qrCodeDownloadLink === '' || hasInputChangedAfterGeneration()"
            [disabled]="false"
            >{{ 'MAIL_QR_CODE' | translate}}</ion-button
          >
        </div>
        <ion-button
          [class.landscape]="!isPortrait"
          fill="clear"
          (click)="clearInputField()"
          (keydown.enter)="clearInputField()"
          (keydown.space)="clearInputField()"
          [disabled]="isInputFieldEmpty()"
          >{{ 'CLEAR_INPUT' | translate}}</ion-button
        >
      </div>
    </div>
  </ion-card>
  <div class="ion-text-center" *ngIf="!showAddress">
    <app-footer></app-footer>
  </div>

  <!-- +++++++++++++++++++++++++ -->
  <!-- E-MAIL ADDRESSE MAINTENANCE -->
  <!-- +++++++++++++++++++++++++ -->
  <ion-card *ngIf="showAddress" class="mail-address">
    <div class="enter-mail-address">
      <h6 class="ion-text-center">
        {{'EMAIL_PAGE_ADD_EMAIL_TITLE' | translate}}
      </h6>
      <ion-item>
        <ion-label position="stacked">
          {{'EMAIL_PAGE_ADD_EMAIL_LABEL' | translate}}
        </ion-label>
        <ion-input
          [(ngModel)]="newEmailAddressValue"
          type="email"
          placeholder="{{'EMAIL_PAGE_ADD_EMAIL_PLACEHOLDER' | translate}}"
        ></ion-input>
      </ion-item>

      <div class="mail-address-buttons">
        <div
          class="button-wrapper"
          (click)="handleAddEmailAddressButtonClick()"
          (keydown.enter)="handleAddEmailAddressButtonClick()"
          (keydown.space)="handleAddEmailAddressButtonClick()"
        >
          <ion-button
            expand="block"
            [class.pseudo-disabled]="!newEmailAddressValue || !validationService.isValidEmailAddress(newEmailAddressValue)"
            [disabled]="false"
          >
            {{ 'EMAIL_PAGE_ADD_BUTTON' | translate }}
          </ion-button>
        </div>

        <div class="buttons-no-add ion-justify-content-around">
          <ion-button
            fill="clear"
            (click)="newEmailAddressValue = '';"
            (keydown.enter)="newEmailAddressValue = '';"
            (keydown.space)="newEmailAddressValue = '';"
            [disabled]="!newEmailAddressValue"
          >
            {{ 'CLEAR_INPUT' | translate }}
          </ion-button>
          <ion-button
            fill="clear"
            (click)="toggleShowAddress()"
            (keydown.enter)="toggleShowAddress()"
            (keydown.space)="toggleShowAddress()"
          >
            {{ 'EMAIL_PAGE_BACK_BUTTON' | translate }}
          </ion-button>
        </div>
      </div>
    </div>

    <div class="saved-emails-section">
      <h6 class="ion-text-center">
        {{'EMAIL_PAGE_TITLE' | translate}} <br />
        {{this.localStorage.savedEmailAddresses.length > 0 ?
        this.localStorage.savedEmailAddresses.length : ""}}
      </h6>
      <div class="email-page-info ion-text-center">
        {{'EMAIL_PAGE_INFOTEXT' | translate}}
      </div>
      <ion-list
        class="email-list"
        *ngIf="this.localStorage.savedEmailAddresses.length > 0"
      >
        <ion-item
          class="saved-email-address"
          *ngFor="let email of this.localStorage.savedEmailAddresses; let i = index"
        >
          <ion-label>{{ email }}</ion-label>
          <ion-button
            slot="end"
            fill="clear"
            (click)="this.localStorage.deleteMailAddress(i)"
            (keydown.enter)="this.localStorage.deleteMailAddress(i)"
            (keydown.space)="this.localStorage.deleteMailAddress(i)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

      <p
        class="missing-mails ion-text-center"
        *ngIf="this.localStorage.savedEmailAddresses.length === 0"
      >
        {{'EMAIL_PAGE_NO_EMAIL_ADRESSES' | translate}}
      </p>
    </div>
  </ion-card>
</ion-content>
