<ion-header [class.web-app]="!isNative">
  <ion-toolbar>
    <ion-title>Release Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        (click)="closeModal()"
        (keydown.enter)="closeModal()"
      >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="showSpinner"></ion-spinner>
  </div>

  <markdown [data]="markdown" *ngIf="!showSpinner"></markdown>
</ion-content>
