<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Language Selection -->
  <ion-item>
    <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
    <ion-select
      interface="popover"
      [value]="selectedLanguage"
      (ionChange)="onLanguageChange($event.detail.value)"
    >
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="de">Deutsch</ion-select-option>
    </ion-select>
  </ion-item>

<app-email-maintenance></app-email-maintenance>

  <app-footer></app-footer>

</ion-content>