<app-header [currentTab]="Tab.Settings"></app-header>
<ion-content
  #content
  class="qr-settings-content"
  [class.landscape]="!utilsService.isPortrait"
>
  <ion-accordion-group
    [value]="openAccordion"
    (ionValueChange)="onAccordionGroupChange($event, content)"
  >
    <!-- Show all accordions and section title  -->
    <ng-container *ngIf="showAllAccordions && !openAccordion">
      <h5 class="ion-text-center settings-section-title">
        {{'SETTINGS' | translate}}
      </h5>
      <app-language-accordion></app-language-accordion>
      <app-print-accordion></app-print-accordion>
      <app-email-maintenance-accordion></app-email-maintenance-accordion>

      <h5 class="ion-text-center settings-section-title">
        {{ "FEEDBACK" | translate }}
      </h5>
      <app-feedback-accordion></app-feedback-accordion>

      <h5 class="ion-text-center settings-section-title">
        z-control QR Code Generator App<br />{{ "INFORMATIONS" | translate }}
      </h5>
      <app-privacy-policy-accordion></app-privacy-policy-accordion>
      <app-change-log-accordion
        [versionInfo]="versionInfo"
      ></app-change-log-accordion>
      <app-get-mobile-app-accordion
        *ngIf="!isNative"
      ></app-get-mobile-app-accordion>
      <app-get-source-accordion></app-get-source-accordion>
    </ng-container>

    <!-- Show only the opened accordion  -->
    <ng-container *ngIf="!showAllAccordions && openAccordion">
      <ng-container [ngSwitch]="openAccordion">
        <ng-container *ngSwitchCase="'language'">
          <app-language-accordion
            [lang]="selectedLanguage || 'en'"
            (ionChange)="onLanguageChange($event)"
          ></app-language-accordion>
        </ng-container>
        <ng-container *ngSwitchCase="'print'">
          <app-print-accordion
            [lang]="selectedLanguage || 'en'"
          ></app-print-accordion>
        </ng-container>
        <ng-container *ngSwitchCase="'emails'">
          <app-email-maintenance-accordion
            [lang]="selectedLanguage || 'en'"
          ></app-email-maintenance-accordion>
        </ng-container>
        <ng-container *ngSwitchCase="'z-control'">
          <app-feedback-accordion
            [lang]="selectedLanguage || 'en'"
          ></app-feedback-accordion>
        </ng-container>
        <ng-container *ngSwitchCase="'privacy-policy'">
          <app-privacy-policy-accordion
            [selectedLanguage]="selectedLanguage || 'en'"
          ></app-privacy-policy-accordion>
        </ng-container>
        <ng-container *ngSwitchCase="'change-log'">
          <app-change-log-accordion
            [lang]="selectedLanguage || 'en'"
            [versionInfo]="versionInfo"
            (ionChange)="openChangelog()"
          ></app-change-log-accordion>
        </ng-container>
        <ng-container *ngSwitchCase="'get-mobile-app'">
          <app-get-mobile-app-accordion
            *ngIf="!isNative"
            [selectedLanguage]="selectedLanguage || 'en'"
          ></app-get-mobile-app-accordion>
        </ng-container>
        <ng-container *ngSwitchCase="'get-source-code'">
          <app-get-source-accordion
            [selectedLanguage]="selectedLanguage || 'en'"
          ></app-get-source-accordion>
        </ng-container>
        <!-- Button to show all accordions -->
        <div class="ion-padding ion-text-center accordion-close-button">
          <ion-button (click)="showAll()" expand="block">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            {{ 'CLOSE' | translate }}
          </ion-button>
        </div>
      </ng-container>
    </ng-container>
  </ion-accordion-group>
</ion-content>
