<h3 id="privacy-policy">Privacy Policy</h3>
    <p>
      This app does not store any data on a server. All data is stored locally
      on your device. The app does not use any external services or libraries
      that share data with third parties. Your data remains private and securely
      stored on your device.
    </p>
    <p>
      For the complete privacy policy, visit the z-control website
      <a
        class="external-link"
        href="https://z-control-4070.web.app/privacy/basic/en"
        target="_blank"
        rel="noopener noreferrer"
        >Privacy Policy
        <ion-icon
          name="open-outline"
        ></ion-icon>
      </a>
      (opens in your browser - switch back to this z-control QR Code Generator
      app when finished).
    </p>