<div class="logo-copyright" *ngIf="type === LogoType.Copyright">
  <img
    class="logo"
    src="assets/icon/z-control-qrcode-generator-logo-32px.png"
    alt="copyright z-control Logo QR Code Generator"
  />
  <span class="copyright">{{ leftLogoText }} {{ rightLogoText }}</span>
</div>
<div class="logo-company" *ngIf="type === LogoType.Company">
  <img
    class="logo"
    src="assets/icon/z-control-qrcode-generator-logo-32px.png"
    alt="z-control Logo QR Code Generator"
  />
  <span class="company">{{ rightLogoText }}</span>
</div>
