<ion-header
  id="app-header"
  class="app-header"
  [class.landscape]="!utilsService.isPortrait"
>
  <ion-toolbar color="primary" [class.landscape]="!utilsService.isPortrait">
    <ion-buttons slot="start">
      <app-logo
        [type]="LogoType.Company"
        (click)="goToSettingsAndOpenFeedback()"
        (keydown.enter)="goToSettingsAndOpenFeedback()"
        (keydown.space)="goToSettingsAndOpenFeedback()"
      ></app-logo>
    </ion-buttons>
    <ion-title *ngIf="onQrTab">
      <b>{{ !isLargeScreen ? "QR Code" : "z-control QR Code Generator" }}</b>
    </ion-title>
    <ion-title *ngIf="onSettingsTab">
      <ion-title>{{ "SETTINGS" | translate }}</ion-title>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="isLargeScreen && onQrTab"
        (click)="goToSettings()"
        (keydown.enter)="goToSettings()"
        (keydown.space)="goToSettings()"
        fill="clear"
      >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="isLargeScreen && onSettingsTab"
        (click)="goToQr()"
        (keydown.enter)="goToQr()"
        (keydown.space)="goToQr()"
        fill="clear"
      >
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
      <ion-button
        class="icon-color"
        fill="clear"
        (click)="openHelpModal()"
        (keydown.enter)="openHelpModal()"
        (keydown.space)="openHelpModal()"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
