ol.table-of-contents {
  list-style: none;
  padding: 0;

  li {
    margin: 10px 0;
    text-align: center;

    a {
      line-height: 40px !important;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.back-to-table-of-contents {
  text-align: center;
  margin-top: 25px;
}

.version-info {
  text-align: center;
  margin-top: 2em;
  color: gray;
}
