<ng-container *ngIf="selectedLanguage === 'de'; else englishTemplate">
  <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
</ng-container>

<!-- *********************************** -->
<!-- E N G L I S H   T E M P L A T E -->
<!-- *********************************** -->

<ng-template #englishTemplate>
  <ion-header>
    <ion-toolbar>
      <ion-title>Informations</ion-title>
      <ion-buttons slot="end">
        <ion-button
          class="button-color"
          (click)="dismissModal()"
          (keydown.enter)="dismissModal()"
          (keydown.space)="dismissModal()"
          >Back</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="toc" class="ion-padding">
      <h5 class="ion-text-center">Table of Contents</h5>
      <ol class="table-of-contents">
        <li>
          <a href="#" (click)="scrollTo('what-can-the-app-do', $event)"
            >What can the app do?</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('how-to-use-the-app', $event)"
            >How to use the app?</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('select-email-client', $event)"
            >Select Email app</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('reset-default-app', $event)"
            >Reset default app</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('technical-info', $event)"
            >Technical information</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('privacy-policy', $event)"
            >Privacy Policy</a
          >
        </li>
      </ol>
    </div>
    <h3 id="what-can-the-app-do">What can the app do?</h3>
    <p>
      <b>A QR code is created from the entered text and sent by Email.</b> The
      text cannot be formatted and can be up to {{ maxInputLength }} characters
      long. Text or a link to a web page can be entered.
    </p>
    <p>
      <b
        >The QR code is attached to the Email as an image and PDF, and the
        entered text is included in the Email.</b
      >
      This way you can immediately see which text is contained in the QR code,
      in case you create multiple QR codes.
    </p>
    <p>
      To avoid having to enter the Email address every time you send an Email,
      <b>you can save Email addresses</b>.
    </p>

    <h3 id="how-to-use-the-app">How to use the app?</h3>
    <h5>Overview</h5>
    <ol>
      <li>Enter text</li>
      <li>Generate QR code</li>
      <li>Email QR code</li>
      <li>Optionally save Email address(es)</li>
      <li>Optionally change language (EN / DE)</li>
    </ol>
    <h5>Details on generating QR code</h5>
    <ol>
      <li>
        Enter single or multi-line <b>text or link</b> to a web page (e.g.
        https://de.wikipedia.org).<br />A new line or blank lines can be
        inserted by pressing the Enter key one or more times. Only uppercase
        formatting is supported. The length of the entered text and the maximum
        allowed ({{ maxInputLength }}) are displayed below the input field.
      </li>
      <br />
      <li>
        Press the <i><b>generate</b></i> button.<br />The generated QR code will
        then be displayed.
      </li>
      <br />
      <li>
        Using the <i><b>Email QR code</b></i> button, the
        <i>standard selection dialog of Android devices</i> opens and you can
        <b>select your Email app</b> (e.g. Gmail or Outlook). The exact
        procedure is described in the section <i>Select Email app</i>.
        <p>
          A <b>new Email</b> is then created with the entered text and the QR
          codes are attached to the Email as png and pdf files. The Email can be
          edited if necessary and sent with the
          <b>arrow on the right in the top right corner</b>.
        </p>
        <p>
          Sending can be repeated as often as desired by pressing
          <i>Email QR code</i> again and changing the recipient.
        </p>
        <b>Content of the Email</b>
        <p>
          <i>Recipient: </i>The recipient(s) are automatically pre-filled if
          they were saved using <b>EMAIL AD</b>. Otherwise, they must be
          entered.
        </p>
        <p>
          <i>Subject: </i>QR code with the length of the entered text.<br />e.g.
          QR code with text length 512
        </p>
        <p><i>Text: </i>The entered text contained in the QR codes.</p>
      </li>
      <br />
      <li>
        <b>Change or delete text</b>.<br />The text can be changed at any time,
        but the <i>generate</i> button must be pressed again after a text
        change.<br /><br />
        To allow the text to be changed even after sending, e.g. for small
        adjustments, the text is not deleted after sending.<br /><br />
        The text can be deleted using the <i>Clear input</i> button. The
        generated QR code will then no longer be displayed.
      </li>
      <br />
    </ol>
    <h5>Details on managing Email addresses</h5>
    <p>In the <b>header</b> there is the option <b>EMAIL AD</b></p>
    <p>
      Here you can switch between QR code creation and Email address management.
      A switch is only possible if no text has been entered yet.
    </p>
    <p>
      All previously saved Email addresses are displayed, and new Email
      addresses can be saved, and existing Email addresses can be deleted.
    </p>
    <p>
      The input field can be deleted using the <i>Delete input</i> button and
      the Email address management can be canceled at any time using the
      <i>Back to QR Code</i>button.
    </p>

    <h5>Details on changing the language</h5>
    <p>
      In the <b>header</b>, the language is displayed on the far right. It is
      either <b>German (DE)</b> or <b>English (EN)</b> depending on the language
      set on the phone.
    </p>
    <p>
      If a language other than German or English is set, the app will be
      displayed in English.
    </p>
    <p>
      The language can be changed by pressing the language selection. The change
      takes effect immediately.
    </p>

    <h3 id="select-email-client">Select Email app</h3>
    <p>
      By pressing the <i><b>Email QR code</b></i> button, the
      <i>standard selection dialog of Android devices</i> opens and you can
      <b>select your Email app</b> (e.g. Gmail or Outlook). The options
      <i>Just Once</i> and <i>Always</i> are offered.
    </p>
    <p>
      If you select <i>Always</i>, this selected program will always be used and
      the Email app will open immediately. If you select <i>Just Once</i>,
      you will be prompted to select an Email app each time you send an
      Email.
    </p>
    <p>
      <b>Important:</b> You must select a
      <b>valid Email app (e.g. Gmail or Outlook)</b> to use all functions of
      the QR Code app. If you accidentally selected another program with the
      <i>Always</i> option, you can reset this selection in the Android
      settings. This is explained in the next section <i>Reset default app</i>.
    </p>

    <h3 id="reset-default-app">Reset default app</h3>
    <p>
      If you accidentally selected a program that is not an Email app (e.g.
      WhatsApp) as the default for sending emails and chose the
      <i>Always</i> option, you can reset this selection in the
      <b>Android settings</b>.
    </p>
    <i>Step-by-step instructions</i>
    <ol>
      <li>Open the settings on your Android device.</li>
      <li>Scroll down and tap on "Apps" or "Applications".</li>
      <li>
        Find and select the program from the list (e.g. WhatsApp) that you
        selected for sending emails.
      </li>
      <li>
        Scroll down to "Set as default" (it may also say "Open by default" or
        similar) and tap on it.
      </li>
      <li>Tap on "Clear defaults" or "Reset defaults".</li>
      <li>Close the settings on your Android device.</li>
    </ol>
    <p>
      The link is now removed and the next time you open a mailto link or click
      on <i>Send Email</i>, you will be asked again which app should open the
      link.
    </p>

    <h3 id="technical-info">Technical information</h3>
    <p>
      <b>Voice input:</b> If you enable voice input in the phone settings, a
      microphone icon will appear on the keyboard. By tapping on this icon, you
      switch to voice input. You can switch flexibly between keyboard and voice
      input. The operation corresponds to the usual voice input function of your
      phone.
    </p>
    <p>
      <b>Scanning the generated QR code:</b> The entered text can be up to
      <b>{{ maxInputLength }} characters</b> long. Note: The more text the QR
      code contains, the longer the scanning process takes. For very long texts,
      I recommend a special scanner app. QR codes with up to 500 characters can
      usually be scanned without problems with the camera app of your phone.
      Most modern smartphones already have the QR code scanning function
      integrated into the standard camera app.
    </p>
    <p>
      <b>Saved Email addresses</b> are stored on the phone in local storage
      (IndexedDB or Local Storage).
    </p>
    <p>
      The <b>generated QR code files</b> are attached to the Email and are
      stored on the phone in the documents folder. After 3 hours or if you
      restart the app the files are deleted automatically.
    </p>
    <p>
      The <b>QR code file names</b> contain the text <i>qrcode</i> and the
      timestamp of generation and have the following format:<br />
      <i>qrcode_YYYYMMDD_HHMMSS.png</i><br />
      <i>qrcode_YYYYMMDD_HHMMSS.pdf</i>
    </p>
    <h3 id="privacy-policy">Privacy Policy</h3>
    <p>
      This app does not store any data on a server. All data is stored locally
      on your device. The app does not use any external services or libraries
      that share data with third parties. Your data remains private and securely
      stored on your device. For more information, see the app's
      <a href="#" (click)="scrollTo('technical-info', $event)"
        >Technical information</a
      >.
    </p>
    <p>
      The app is open source, and the source code is available on
      <a
        class="external-link"
        href="https://github.com/zoechbauer/ng-leaflet-fuel-prices.git"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub
        <ion-icon
          name="open-outline"
          style="vertical-align: text-bottom; margin-left: 2px"
        ></ion-icon> </a
      >, so you can review how the app works and how your data is handled at any
      time.
    </p>
    <p>
      For the complete privacy policy, visit the z-control website
      <a
        class="external-link"
        href="https://z-control-4070.web.app/privacy/basic/en"
        target="_blank"
        rel="noopener noreferrer"
        >Privacy Policy
        <ion-icon
          name="open-outline"
          style="vertical-align: text-bottom; margin-left: 2px"
        ></ion-icon>
      </a>
      (opens in your browser - switch back to this QR Code app when finished).
    </p>

    <div class="version-info">
      <small>{{ versionInfo }}</small>
    </div>
  </ion-content>
  <ion-button
    class="back-to-table-of-contents"
    fill="clear"
    size="small"
    (click)="scrollToTop()"
    (keydown.enter)="scrollToTop()"
    (keydown.space)="scrollToTop()"
    >{{ scrollToTopObj.text }}</ion-button
  >
</ng-template>

<!-- *********************************** -->
<!-- G E R M A N   T E M P L A T E -->
<!-- *********************************** -->

<ng-template #germanTemplate>
  <ion-header>
    <ion-toolbar>
      <ion-title>Informationen</ion-title>
      <ion-buttons slot="end">
        <ion-button
          class="button-color"
          (click)="dismissModal()"
          (keydown.enter)="dismissModal()"
          (keydown.space)="dismissModal()"
          >Zurück</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="toc-DE" class="ion-padding">
      <h5 class="ion-text-center">Inhaltsverzeichnis</h5>
      <ol class="table-of-contents">
        <li>
          <a href="#" (click)="scrollTo('what-can-the-app-do-DE', $event)"
            >Was kann die App?</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('how-to-use-the-app-DE', $event)"
            >Wie bediene ich die App?</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('select-email-client-DE', $event)"
            >Mailprogramm auswählen</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('reset-default-app-DE', $event)"
            >Standard App zurücksetzen</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('technical-info-DE', $event)"
            >Technische Informationen</a
          >
        </li>
        <li>
          <a href="#" (click)="scrollTo('privacy-policy-DE', $event)"
            >Datenschutz</a
          >
        </li>
      </ol>
    </div>
    <h3 id="what-can-the-app-do-DE">Was kann die App?</h3>
    <p>
      <b
        >Es wird aus dem erfassten Text ein QR Code erstellt und per E-Mail
        versendet.</b
      >
      Der Text kann nicht formatiert werden und kann bis zu
      {{ maxInputLength }} Zeichen lang sein. Es kann ein Text oder der Link zu
      einer Website erfasst werden. Der QR Code wird als Bild und PDF dem E-Mail
      angehängt.
    </p>
    <p>
      Der <b>QR Code</b> wird <b>als Bild und PDF dem E-Mail angehängt</b> und
      der <b>erfasste Text steht im E-Mail</b>. So sehen Sie sofort welcher Text
      im QR Code enthalten ist, falls Sie mehrere QR Codes erstellen.
    </p>
    <p>
      Damit Sie beim Mailversand nicht immer die Mailadresse erfassen müssen,
      können Sie <b>E-Mail-Adressen anlegen</b>.
    </p>

    <h3 id="how-to-use-the-app-DE">Wie bediene ich die App?</h3>
    <h5>Überblick</h5>
    <ol>
      <li>Text erfassen</li>
      <li>QR Code generieren</li>
      <li>QR Code mailen</li>
      <li>Optional Mailadresse(n) erfassen</li>
      <li>Optional Sprache ändern (EN / DE)</li>
    </ol>
    <h5>Detail-Informationen QR Code generieren</h5>
    <ol>
      <li>
        Ein- oder mehrzeilige <b>Texte oder Link</b> zu einer Web Seite (z.B.
        https://de.wikipedia.org) erfassen.<br />Eine neue Zeile oder Leerzeilen
        können durch ein- oder mehrmaliges Drücken der Eingabetaste eingefügt
        werden. Als Formatierung wird nur die Großschreibung unterstützt. Rechts
        unterhalb dem Eingabefeld werden die erfasste Textlänge und die maximale
        Textlänge von {{ maxInputLength }} Zeichen angezeigt.
      </li>
      <br />
      <li>
        Schaltfläche <i><b>generieren</b></i> drücken.<br />Es wird dann der
        genertierte QR Code angezeigt.
      </li>
      <br />
      <li>
        Mittels Schaltfläche <i><b>QR Code mailen</b></i> wird die
        <i>Standardauswahl von Android-Handies</i> geöffnet und Sie können Ihr
        <b>Mailprogramm auswählen</b> (z.B. Gmail oder Outlook). Der genaue
        Ablauf ist im Kapitel <i>E-Mail Programm auswählen</i> beschrieben.
        <p>
          Es wird dann ein <b>neues E-Mail</b> mit dem erfassten Text erstellt
          und QR Codes werden dem E-Mail als png und pdf angehängt. Das E-Mail
          kann bei Bedarf bearbeitet werden und wird mit dem
          <b>Pfeil rechts in der rechten Kopfzeile versendet</b>.
        </p>
        <p>
          Das Versenden kann beliebig oft wiederholt werden indem wieder
          <i>QR Code mailen</i> gedrückt wird und der Empfänger geändert wird.
        </p>
        <b>Inhalt der E-Mail</b>
        <p>
          <i>Empfänger: </i>Der oder die Empfänger werden automatisch vorbelegt,
          wenn sie mittels <b>MAIL ADR</b> angelegt wurden. Sonst müssen sie
          erfasst werden.
        </p>
        <p>
          <i>Betreff: </i>QR Code mit Angabe der Textlänge des erfassten Textes.
          Beispiel: QR Code mit Textlänge 512
        </p>
        <p><i>Text: </i>Der in den QR Codes enthaltene erfasste Text.</p>
      </li>
      <li>
        Text <b>ändern oder löschen</b>.<br />Der Text kann jederzeit geändert
        werden, es muss aber nach einer Textänderung wieder die Schaltfläche
        <i>generieren</i> gedrückt werden.<br /><br />
        Damit der Text auch nach dem Senden noch geändert werden kann, z.B.
        wegen kleiner Abweichungen im Text, wird der Text nach dem Senden nicht
        gelöscht.<br /><br />
        Der Text kann mittels Schaltfläche <i>Eingabe löschen</i> gelöscht
        werden. Es wird dann auch der generierte QR Code nicht mehr angezeigt.
      </li>
      <br />
    </ol>
    <h5>Detail-Informationen E-Mail Adressen verwalten</h5>
    <p>In der <b>Kopfzeile</b> gibt es die Auswahl <b>MAIL ADR</b></p>
    <p>
      Hier kann zwischen QR Code Erstellung und E-Mail-Adressenverwaltung
      gewechselt werden. Ein Wechsel ist aber
      <b>nur möglich wenn noch kein Text erfasst</b> wurde.
    </p>
    <p>
      Es werden alle bereits erfassten E-Mail-Adressen angezeigt und neue
      E-Mail-Adressen können erfasst und bereits erfasste E-Mail-Adressen können
      gelöscht werden.
    </p>
    <p>
      Das Eingabefeld kann mittels Schaltfläche
      <i>Eingabe löschen</i> gelöscht werden und mittels Schaltfläche
      <i>Zurück zu QR Code</i>
      kann die Mailadressenverwaltung jederzeit abgebrochen werden.
    </p>

    <h5>Detail-Informationen Sprache ändern</h5>
    <p>
      In der <b>Kopfzeile</b> wird ganz rechts die Sprache angezeigt. Diese ist
      entweder <b>Deutsch (DE)</b> oder <b>Englisch (EN)</b> je nachdem welche
      Sprache am Handy eingestellt wurde.
    </p>
    <p>
      Wurde eine andere Sprache als Deutsch oder Englisch eingestellt, wird die
      App in Englisch angezeigt.
    </p>
    <p>
      Die Sprache kann durch Drücken auf die Sprachauswahl geändert werden. Die
      Änderung wird sofort wirksam.
    </p>

    <h3 id="select-email-client-DE">E-Mail Programm auswählen</h3>
    <p>
      Mittels Schaltfläche <i><b>QR Code mailen</b></i> wird die
      <i>Standardauswahl von Android-Geräten</i> geöffnet und Sie können Ihr
      <b>Mailprogramm auswählen</b> (z.B. Gmail oder Outlook). Es werden die
      Schaltflächen <i>Nur Diesmal</i> und <i>Immer</i> angeboten.
    </p>
    <p>
      Wenn Sie <i>Immer</i> auswählen, wird immer dieses ausgewählte Programm
      verwenden, und es wird sofort das Mailprogramm geöffnet. Wenn Sie
      <i>Nur Diesmal</i> auswählen, werden Sie bei jedem Mailversand
      aufgefordert, ein Mailprogramm auszuwählen.
    </p>
    <p>
      <b>Wichtig:</b> Sie müssen ein
      <b>gültiges Mailprogramm (z.B. Gmail oder Outlook) auswählen</b>, damit
      Sie alle Funktionen von QR-Code App verwenden können. Sollten Sie
      versehentlich ein anderes Programm mit der Auswahl <i>Immer</i> ausgewählt
      haben, dann können Sie diese Auswahl in den Android-Einstellungen
      zurücksetzen. Dies wird im nächsten Abschnitt
      <i>Standard App zurücksetzen</i> erklärt.
    </p>

    <h3 id="reset-default-app-DE">Standard App zurücksetzen</h3>
    <p>
      Falls Sie irrtümlich kein Mailprogramm (z.B. WhatsApp) als
      Standardprogramm zum Versenden von Mails ausgewählt haben und die
      Schaltfläche
      <i>Immer</i> gewählt haben, können Sie diese Auswahl in den
      <b>Android-Einstellungen</b> zurücksetzen.
    </p>
    <i>Schritt-für-Schritt-Anleitung</i>
    <ol>
      <li>Öffnen Sie die Einstellungen auf Ihrem Android-Gerät.</li>
      <li>
        Scrollen Sie nach unten und tippen Sie auf „Apps“ oder „Anwendungen“.
      </li>
      <li>
        Suchen und wählen Sie das Programm aus der Liste (z.B. WhatsApp), das
        Sie beim E-Mail senden ausgewählt haben.
      </li>
      <li>
        Scrollen Sie nach unten zu „Als Standard festlegen“ (ggf. steht dort
        auch „Standardmäßig öffnen“ oder ähnlich) und klicken Sie darauf.
      </li>
      <li>
        Tippen Sie auf „Standardeinstellungen löschen“ bzw. „Standards
        zurücksetzen“.
      </li>
      <li>Schließen Sie die Einstellungen auf Ihrem Android-Gerät.</li>
    </ol>
    <p>
      Jetzt ist die Verknüpfung aufgehoben und beim nächsten Öffnen eines
      Mailto-Links bzw. beim nächsten Klick auf <i>E-Mail senden</i> werden Sie
      wieder gefragt, mit welcher App der Link geöffnet werden soll.
    </p>

    <h3 id="technical-info-DE">Technische Informationen</h3>
    <p>
      <b>Spracheingabe:</b> Wenn Sie in den Handy-Einstellungen die
      Spracheingabe aktivieren, erscheint im Tastaturfeld ein Mikrofon-Symbol.
      Durch Tippen auf dieses Symbol wechseln Sie zur Spracheingabe. Sie können
      flexibel zwischen Tastatur und Spracheingabe wechseln. Die Bedienung
      entspricht der üblichen Spracheingabe-Funktion Ihres Handys.
    </p>
    <p>
      <b>Scannen des generierten QR Codes:</b> Der erfasste Text kann bis zu
      <b>{{ maxInputLength }} Zeichen</b> lang sein. Beachten Sie: Je mehr Text
      der QR Code enthält, desto länger dauert der Scan-Vorgang. Für sehr lange
      Texte empfehle ich eine spezielle Scanner-App. QR Codes mit bis zu 500
      Zeichen können in der Regel problemlos mit der Kamera-App Ihres Handys
      gescannt werden. Bei den meisten modernen Smartphones ist die QR
      Code-Scan-Funktion bereits in der Standard-Kamera-App integriert.
    </p>
    <p>
      <b>Erfasste Mailadressen</b> werden im Handy in Local Storage (IndexedDB
      bzw. Local Storage) gespeichert.
    </p>
    <p>
      Die <b>generierten QR Code Dateien</b> werden dem E-Mail als Anhang
      übergeben und im Handy im Documents Ordner temporär gespeichert. Nach 3
      Stunden oder wenn Sie die App neu starten werden sie automatisch gelöscht.
    </p>
    <p>
      Die <b>QR Code Datei Namen</b> enthalten den Text <i>qrcode</i> und den
      Zeitstempel der Generierung und haben folgendes Format:<br />
      <i>qrcode_YYYYMMDD_HHMMSS.png</i><br />
      <i>qrcode_YYYYMMDD_HHMMSS.pdf</i>
    </p>
    <h3 id="privacy-policy-DE">Datenschutz</h3>
    <p>
      Diese App speichert keine Daten auf einem Server. Alle Daten werden lokal
      auf Ihrem Gerät gespeichert. Die App verwendet keine externen Dienste oder
      Bibliotheken, die Daten an Dritte weitergeben. Ihre Daten bleiben privat
      und sicher auf Ihrem Gerät gespeichert. Weitere Informationen finden Sie
      auf dieser Seite unter
      <a href="#" (click)="scrollTo('technical-info-DE', $event)"
        >Technische Informationen</a
      >
    </p>
    <p>
      Die App ist Open Source und der Quellcode ist auf
      <a
        class="external-link"
        href="https://github.com/zoechbauer/ng-leaflet-fuel-prices.git"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub
        <ion-icon
          name="open-outline"
          style="vertical-align: text-bottom; margin-left: 2px"
        ></ion-icon>
      </a>
      verfügbar, sodass Sie die Funktionsweise der App und den Umgang mit Ihren
      Daten jederzeit überprüfen können.
    </p>
    <p>
      Die vollständige Datenschutzerklärung finden Sie auf der z-control Website
      unter
      <a
        class="external-link"
        href="https://z-control-4070.web.app/privacy/basic/de"
        target="_blank"
        rel="noopener noreferrer"
        >Datenschutzerklärung
        <ion-icon
          name="open-outline"
          style="vertical-align: text-bottom; margin-left: 2px"
        ></ion-icon>
      </a>
      (öffnet sich in Ihrem Browser - wechseln Sie nach dem Lesen zurück zu
      dieser QR Code App).
    </p>

    <div class="version-info">
      <small>{{ versionInfo }}</small>
    </div>
  </ion-content>
  <ion-button
    class="back-to-table-of-contents"
    fill="clear"
    size="small"
    (click)="scrollToTop()"
    (keydown.enter)="scrollToTop()"
    (keydown.space)="scrollToTop()"
    >{{ scrollToTopObj.text }}</ion-button
  >
</ng-template>
