  <div class="footer-contact">
    <div class="footer-email">
      <ion-icon name="mail-outline"></ion-icon>
      <a class="footer-link" href="{{ mailtoLink }}"
        title="{{ 'TOOLTIP_FEEDBACK.CONTACT_SUPPORT' | translate }}"
        >z-control <br />Support & Feedback</a
      >
    </div>
    <div class="contact-item">
      <ion-icon name="person-outline"></ion-icon>
      <span>Hans Zöchbauer</span>
    </div>
    <div class="contact-item small">
      <ion-icon name="location-outline"></ion-icon>
      <span>{{ "WEB_FOOTER_COUNTRY" | translate }}</span>
    </div>
  </div>