.footer-content {
  color: #888;

  .footer-compact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    text-align: center;

    .footer-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 auto;
      padding-left: 27px;

      .logo {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin: 10px;
        border-radius: 8px;
      }

      .footer-copyright {
        font-size: 0.95em;
        margin-bottom: 10px;
      }
    }

    .expand-button {
      margin-left: auto;
    }
  }

  .footer-details {
    display: none;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 10px;
    animation: fadeIn 0.2s;
    text-align: center;
    gap: 10px;

    &.expanded {
      display: flex;
    }

    .version-info {
      .footer-version {
        font-size: 0.95em;
        margin: 0px;
      }

      .changelog-button::part(native) {
        color: #888;
      }
    }

    .footer-playstore {
      margin: 10px 0;
    }

    .footer-contact {
      display: flex;
      flex-direction: column;
      gap: 7px;
      align-items: center;

      ion-icon {
        margin-right: 5px;
      }

      .footer-email {
        font-size: 0.95em;
        word-break: break-all;
        margin: 15px 0 25px 0;

        ion-icon {
          margin-bottom: -3px;
        }
      }

      .contact-item {
        display: flex;
        align-items: center;
        font-size: 0.95em;

        &.small {
          font-size: 0.8em;
        }
      }
    }
    .footer-navigation-bar {
      padding-bottom: 50px;
    }
  }

  .footer-link {
    color: inherit;
    text-decoration: none;
    font-size: 0.95em;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
