<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openModal()">
        Infos
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>z-control</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">QR Code erstellen</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">QR Code Text {{textLengthInfo}}</ion-label>
        <ion-textarea
          [autoGrow]="true"
          #qrDataInput
          placeholder="bitte Text eingeben. Neue Zeilen durch Eingabe-Taste ..."
          [rows]="3"
        ></ion-textarea>
      </ion-item>

      <ion-item *ngIf="qrCodeIsGenerated">
        <qrcode
          id="qrcode"
          [qrdata]="myAngularxQrCode"
          [width]="256"
          [errorCorrectionLevel]="'M'"
          (qrCodeURL)="onChangeURL($event)"
          [allowEmptyString]="true"
        ></qrcode>
      </ion-item>
    </ion-card-content>

    <ion-button expand="block" (click)="generateQRCode(qrDataInput.value)" [disabled]="qrDataInput.value === ''"
      >generieren</ion-button
    >
    <div class="buttons-no-generation">
      <ion-button fill="clear" (click)="downloadQRCode()" [disabled]="qrCodeDownloadLink === ''"
        >QR PNG</ion-button
      >
      <ion-button fill="clear" (click)="printQRCode()" [disabled]="qrCodeDownloadLink === ''">QR PDF</ion-button>
      <ion-button fill="clear" (click)="clearInputField()" [disabled]="qrCodeDownloadLink === ''"
        >QR löschen</ion-button
      >
    </div>
  </ion-card>
</ion-content>
