.qr-code {
  ion-card-header {
    margin-bottom: -20px;
  }
  
  .buttons-no-generation {
    display: flex;
  }
}


.mail-address{
  .missing-mails {
    font-size: 18px;
    color: var(--ion-color-primary);
  }

  .email-list {
    ion-label {
      font-size: 13px;
    }
  }
  
  .enter-mail-address {
    margin-top: 30px;
  }
  
  .buttons-no-add {
    display: flex;
  }
}
