<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggleShowAddress()">
        {{!toggleAddress ? "Mail Adr" : "QR Code"}}
      </ion-button>
      <ion-button fill="clear" (click)="openModal()">
        <ion-icon slot="end" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>z-control</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="!toggleAddress" class="qr-code">
    <ion-card-header>
      <ion-card-title class="ion-text-center">QR Code erstellen</ion-card-title>
    </ion-card-header>

    <!-- +++++++++++++++++++++++++ -->
    <!-- QR CODE MAINTENANCE -->
    <!-- +++++++++++++++++++++++++ -->
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked"
          >QR Code Text {{textLengthInfo}}</ion-label
        >
        <ion-textarea
          [autoGrow]="true"
          #qrDataInput
          placeholder="bitte Text eingeben. Neue Zeilen durch Eingabe-Taste ..."
          [rows]="3"
          maxlength="{{MAX_INPUT_LENGTH}}"
        ></ion-textarea>
      </ion-item>

      <ion-item *ngIf="qrCodeIsGenerated">
        <qrcode
          id="qrcode"
          [qrdata]="myAngularxQrCode"
          [width]="256"
          [errorCorrectionLevel]="'M'"
          (qrCodeURL)="onChangeURL($event)"
          [allowEmptyString]="true"
        ></qrcode>
      </ion-item>
    </ion-card-content>

    <ion-button
      expand="block"
      (click)="generateQRCode(qrDataInput.value)"
      [disabled]="qrDataInput.value === ''"
      >generieren</ion-button
    >
    <div class="buttons-no-generation">
      <ion-button
        fill="clear"
        (click)="storeAndMailQRCode()"
        [disabled]="qrCodeDownloadLink === ''"
        >QR-Code speichern und mailen</ion-button
      >
      <ion-button
        fill="clear"
        (click)="clearInputField()"
        [disabled]="qrCodeDownloadLink === ''"
        >Eingabe text löschen</ion-button
      >
    </div>
  </ion-card>

  <!-- +++++++++++++++++++++++++ -->
  <!-- E-MAIL ADDRESSE MAINTENANCE -->
  <!-- +++++++++++++++++++++++++ -->
  <ion-card *ngIf="toggleAddress" class="mail-address">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Mail Adressen</ion-card-title>
    </ion-card-header>
      <p>
        Die hier erfassten Mail-Adressen werden beim Versand der QR Codes im
        Mailempfänger vorbelegt.
      </p>
      <ion-list class="email-list" *ngIf="savedEmails.length > 0">
        <ion-item *ngFor="let email of savedEmails">
          <ion-label>{{ email }}</ion-label>
        </ion-item>
      </ion-list>
      <p class="missing-mails ion-text-center" *ngIf="savedEmails.length === 0">
        Es wurden noch keine Mailadressen erfasst.
      </p>

      <div class="enter-mail-address">
        <h6 class="ion-text-center">Neue Mail-Adresse hinzufügen</h6>
        <ion-item>
          <ion-label position="stacked">E-Mail</ion-label>
          <ion-input
            #newEmail
            type="email"
            placeholder="example@gmail.com"
          ></ion-input>
        </ion-item>
      </div>
    <ion-button
      expand="block"
      (click)="addEmail(newEmail.value); newEmail.value=''"
      [disabled]="!newEmail.value || !isValidEmail(newEmail.value)"
      >Hinzufügen</ion-button
    >
  </ion-card>
</ion-content>
